<div class="container">
	<div class="jumbotron">
	
			<!-- <div ng-show="showAlert">
				<span ng-show="showAlert">{{addMessage}}</span>
			</div> -->
			<div ng-if="showAlert" class="alert alert-success alert-dismissable">
  				<h4>{{addMessage}}</h4>
			</div>
		  <div class="form-group">
		    <label for="SrNo">Sr.No:</label>
		    <input type="number" class="form-control" ng-model="customer.no" />
		  </div>
		  <div class="form-group">
		    <label for="Name">Name:</label>
		    <input type="text" class="form-control" ng-model="customer.name" />
		  </div>
		  <button type="submit" class="btn btn-primary" ng-click="addCustomer(customer)">Submit</button>
	</div>
</div>